.formTitle{
  position: relative;
}
.formTitle::before{
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
.socials ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.socials ul li{
  display: inline-block;
  margin-right: 10px;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 100vh;
  z-index: 999999;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
}
.react-spinner-loader-svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 0.9s linear infinite loader-spin !important;
  -webkit-animation: 0.9s linear infinite loader-spin !important;
}

.react-spinner-loader-svg-cal-loader__path {

  animation: 0.9s ease-in-out infinite loader-path !important;
  -webkit-animation: 0.9s ease-in-out infinite loader-path !important;
}